{# <img src="{{ vich_uploader_asset(customer, "imageFile") }}" width="250" height="300" class="card-img-top" alt="avatar"> #}
{# <h5 class="card-title"><a href="{{path('app_client_show', {'id': customer.id })}}">{{customer.fullname}}<a/></h5> #}
{# <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img src="https://api.lorem.space/image/movie?w=150&h=220" width="250" height="300" class="card-img-top" alt="avatar">
      
      <div class="card-body">
        <h5 class="card-title">{{this.customers.fullname}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Information client</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
        <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
      </div>
    </div>
</div> #}
<div class="col-xxl-3 col-md-4">
    <div class="card">
        <div class="card-body">
        <h5 class="card-title"></h5>
        {% if this.customers.avatar %}
            <img class="card-img-top" src="{{ vich_uploader_asset(this.customers, "imageFile") | imagine_filter('profile') }}" width="250" height="300" alt="Avatar">
        {% else %}
            <img src="https://api.lorem.space/image/movie?w=150&h=220" width="250" height="300" class="card-img-top" alt="avatar">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{path('app_client_show', {'id': this.id })}}">
                    {{this.customers.firstName}} {{this.customers.lastName}}
                </a>
            </h5>
            <a href="{{path('app_client_show', {'id': this.id })}}" class="btn btn-outline-primary">Info rendez-vous</a>
        </div>
        </div>
    </div>
</div>